<!doctype html>
<HTML lang="pt">
	<head>
		<title>Batalha Naval</title>
		<meta charset="utf-8">
		<script src="public/JavaScript/jogar.js" type="text/javascript" charset="utf-8"></script>
		<link href="public/JavaScript/bn.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<!-- Código autoexplicativo -->
		<h1>O jogo da batalha Naval</h1>
		
		<div id="tabuleiroJogador1"></div>
		
		<div id="espaco1"></div>
		
		<div id="informacoes">
			<div id="informacoesJogadorDiv">
				<textarea readonly="true" id="informacoesJogador1"></textarea>
			</div>
			<div id="informacoesJogador2Div">
				<textarea readonly="true" id="informacoesJogador2"></textarea>
			</div>
		</div>
		
		<div id="espaco2"></div>
		
		<div id="tabuleiroJogador2"></div>
		
		<script>Init()</script>
		
	</body>
<HTML>