#{extends 'main.html' /} 
#{set title:'Lista de usuarios' /}

<div class="card mb-3 container">
<meta charset="UTF-8"/>
 <div class="card-header">
   <i class="fa fa-table"></i> Lista Jogadores</div>
 <div class="card-body">
    
     <table class="table dataTable" id="dataTable">
       <thead>
         <th rowspan="1" colspan="1">Nome</th>
         <th rowspan="1" colspan="1">E-Mail</th>
         <th>Ações</th>
       </thead>
     <tbody>
	#{list items:usuarios, as:'usuario'}
		<tr role="row">
           <td>${usuario.nome}</td>
           <td>${usuario.email}</td>
           <td>
           	
           	</td>
         </tr>
	#{/list}
	</tbody>
    </table>
  </div>
  <div class="form-group col-md-3">
	<a href="@{Application.index}" class="btn btn-danger btn-block">Sair</a>
</div>
</div>
</div>

	
  